[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=conky
Name=Conky
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Type=Application
Version=0.9.4